.login {
    border: 1px solid grey;
    border-radius: 4px;
    width: 500px;
    position: absolute;
    padding: 40px 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mat-form-field {
    display: block;
    margin-top: 40px;
}
.btn-acceder {
    margin-top: 50px;
    text-align: center;
}

@media (max-width: 400px) {
    .login {
        width: 90%;
    }
}
