@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
    margin: 0;
    height: 100%;
    position: relative;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    padding-top: 40px;
    padding-bottom: 80px;
}

